<!-- Footer -->
<footer class="footer p-5">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <h5 class="mb-3">الاكثر بحثا</h5>
                <a href="">ماتور عربيات</a>
                <a href="">فانوس عربية</a>
                <a href="">سير </a>
                <a href="">ماتور عربيات</a>
                <a href="">فانوس عربية</a>
                <a href="">سير </a>
            </div>

            <div class="col-6 col-md-3">
                    <h5>من نحن</h5>
                    <a href="">أنضم الى جير</a >
                    <a href="">عن جير</a >
                    <a href="">الشروط و الاحكام</a >
                    <a href="">خدمات الشركات</a >
                    <a href="">سياسة الخصوصية</a >
             </div>

             <div class="col-6 col-md-3">
                    <h5> زود مبيعاتك</h5>
                    <a href="">بيع منتجات</a >
                    <a href="">عمل اعلان</a >
            </div>

            <div class="col-6 col-md-3">
                <h5>خدمة العملاء</h5>
                <a href="">مركز المساعدة</a>
                <a href="" class="mb-3">اتصل بنا</a>

                <h5 class="mb-2">تابعونا على</h5>
                <!-- Toolbar Section -->
                <div class="socail-links ">
                    <ul class="d-flex align-items-center justify-content-start">
                        <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                        <li class=" pr-3"><a href=""><i class="fa fa-twitter-square"></i></a></li>
                        <li class=" pr-3"><a href=""><i class="fa fa-youtube-square"></i></a></li>
                        <li class=" pr-3"><a href=""><i class="fa fa-linkedin-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright p-2 bg-dark d-flex align-items-center justify-content-center">
    <p class="text-center text-white mb-0">
        جميع الحقوق محفوظة جير 2018
    </p>
</div>