<section class="editAccountHeader3 ">
  </section>
  <section class="editAccount3 py-5">
    <div class="container">
          <div class="row mb-5">
              <div class="col-sm-12 mb-3 text-right">
                  <h3>أعدادات الحساب</h3>
                  <hr>
              </div>
              <div class="col-sm-9">
                    <div class="row  form">
                        <div class="col-sm-12 mb-3">
                            <label for="inputMail"> البريد الإلكترونى</label>
                            <input type="email" class="form-control" id="inputMail" aria-describedby="emailHelp">
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="inputPassword1">  كلمة السر القديمة</label>
                            <input type="password" class="form-control" id="inputPassword1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="inputPassword2"> كلمة السر الجديدة </label>
                            <input type="password" class="form-control" id="inputPassword2" aria-describedby="emailHelp">
                        </div>
                        <div class="col-sm-12 mb-3">
                            <label for="inputPassword3">تأكيد كلمة السر الجديدة</label>
                            <input type="password" class="form-control" id="inputPassword3" aria-describedby="emailHelp">
                        </div>
                        <div class="col-sm-12 mb-3">
                            <button type="submit" class="btn  btn-block text-center">تأكيد</button>
                        </div> 
                    </div>
              </div>
              <div class="col-sm-3 text-right headline align-self-start">
                  <a routerLink="/edit-account1"><p>معلومات شخصية</p></a>
                  <a routerLink="/edit-account2"><p> العناوين</p></a>
                  <a><p> أعدادات الحساب</p> </a>               
              </div>
          </div>
      </div>
  </section>