
<!-- Registration Form  -->
    <div class="register p-5 text-white my-5">
        <div class="logo d-flex justify-content-center align-items-center">
            <a href="" class="text-center w-100"><img src="./assets/img/logo.png" alt="logo"></a>
        </div>
        <form>
          <div class="row pt-3">
            <div class="form-group col-sm-12 pb-2">
            <div class="row">  
                <div class="form-group col-sm-12 pb-2">
                    <label for="exampleInputEmail1"> اسم الشركة</label>
                    <input type="email" class="form-control" id="exampleInputEmail1">
                </div>
                <div class="form-group col-sm-12 pb-2">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="exampleInputNumber">وصف للشركة</label>
                            <textarea rows="5" class="form-control w-100" id="exampleInputNumber" aria-describedby="emailHelp"></textarea>
                        </div>
                    </div>    
                </div>
                <div class="form-group col-sm-12 pb-2">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="exampleInputNumber">شعار الشركة</label>
                            <input  type="file"  id="exampleInputNumber" aria-describedby="emailHelp">
                        </div>
                    </div>    
                </div>               
                <div class="buttons w-100 d-flex justify-content-between">
                    <button routerLink="../register" type="submit" class="btn text-center ml-2">تسجيل</button>
                </div>        
            </div>
        <!--</form>-->
    </div>
 
 