<section class="bgAdvice">
</section>
<section class="advice py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h5>نصائح للحفاظ علي السيارة</h5>  
                <hr class="mb-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <p><span class="ml-3">١)</span>عند قياس مستوي منسوب زيت محرك السيارة، يجب اولا ان تكون السيارة في مستوي افقي، وان يتم تشغيل المحرك حتي درجة حرارة تشغيله العادية، وبعد ذلك يوقف تشغيل المحرك بغلق مفتاح الكونتاكت والانتظار حوالي خمس دقائق، ثم يرفع مقياس الزيت من مكانه بالمحرك وينظف جيدا بقطعة قماش لاتحتوي علي وبر، ثم يوضع مكانه مرة اخري بالمحرك ويرفع ويلاحظ مستوي الزيت، ويجب ان يكون بين العلامتين بالمقاس ولايكون أعلي من العلامة العليا او اقل من العلامة السفلي، ولا يجب قياس مستوي الزيت والمحرك في حالة دوران لان ذلك سيعطي بيانا غير مضبوط لمنسوب الزيت بالمحرك.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p><span class="ml-3">٢)</span>عند قياس ضغط هواء الاطارات يجب ان يكون العجل بارد، لان قياس الضغط بعد مشوار طويل بالسيارة يعمل الاحتكاك بين إطار عجل السيارة وبين الطريق علي زيادة سخونة الاطارات وبالتالي زيادة سخونة الهواء بداخلها فيرتفع ضغطه، ويعطي بعد ذلك قراءة غير صحيحة لقيمة الضغط داخل الاطارات.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p><span class="ml-3">٣)</span>عدم تزويد زيت (سائل) الفرامل عند انخفاض منسوبه في علبة (خزنة) زيت الفرامل، لأن انخفاض منسوب سائل الفرامل يدل علي تآكل تيل الفرامل ويعطي الفرصة للمبة بيان الفرامل أن تضيء في التابلوه، أما عند تزويد سائل الفرامل فيتآكل التيل بدون إعطاء أي بيان للسائق حيث أن لمبة الفرامل لم تضيء. ويتم تزويد سائل الفرامل فقط عند تسربه أو عند تغيير أي من الأجزاء داخلية بالدورة. ويجب الحظر الشديد عند استخدام زيت الفرامل لأن تأثيره شديد علي دهان جسم السيارة، وان حدث وانسكب علي جسم السيارة فيجب علي الفور سكب كمية من الماء علي موضع زيت الفرامل علي جسم السيارة.</p>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <p><span class="ml-3">4)</span>عند سماع صوت صفارة عند الضغط علي بدال الفرامل، ولا تستطيع تحديد مصدر الصوت، هل هو من الفرامل الأمامية؟ أو الخلفية؟ ثم بقيادة السيارة علي سرعة متوسطة، ثم اجعل صندوق التروس في وضع الحياد، وارفع فرملة اليد تدريجيا أثناء القيادة، فاذا صدر الصوت فهو من الفرامل الخلفية ان لم يصدر فهو من الفرامل الامامية.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-4">
                <img class="mb-5" src="../../assets/img/Adv/1.jpg">
                <img class="mb-5" src="../../assets/img/Adv/3.jpg">
                <img class="mb-5" src="../../assets/img/Adv/4.jpg">
            </div>
        </div>
    </div>
</section>
