<section class="bgContactUs">
  </section>
  <section class="contactUs py-5">
      <div class="container">
          <div class="row">
              <div class="col-5">
                  <form class="p-4" >
                      <div class="form-row mb-3">
                          <div class="form-group col-md-12 text-right">
                          <label for="inputEmail4">الأسم </label>
                          <input type="email" class="form-control text-right">
                          </div>
                      </div>                    
                      <div class="form-row mb-3">
                          <div class="form-group col-md-12  text-right ">
                              <label for="inputState">البريد الإليكترونى</label>
                              <input class="form-control text-righ" type="text">
                          </div>
                      </div>
                      <div class="form-row mb-3">
                          <div class="form-group col-md-12 text-right p-0">
                              <label for="exampleFormControlTextarea1" >الرسالة</label>
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                      </div>
                      <button type="submit" class="btn btn-primary text-center mb-2">أرسال</button>
                      </form>
              </div>
              <div class="col-7">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">أتصل بنا </h5>
                            <hr class="mb-4">
                            <p class="card-text mb-3"> <i class="fas fa-map-marker ml-3"></i> ١٢١ شارع جلال الدسوقى ,وابور الماية الاأسكندرية</p>
                            <p class="card-text mb-3"><i class="fas fa-phone ml-3 "></i> ٤٢٠٠٦٥٠ ٢٠٣+</p>
                            <p class="card-text mb-4"><i class="fas fa-fax ml-3 "></i> ٤٢٠٠٦٥٠ ٢٠٣+</p>
                            <div>
                                <img src="../../assets/img/map.jpg">
                            </div>
                        </div>
                    </div>
              </div>
          </div>
      </div>
  </section>
<!-- <section class="map text-center">
    <div id="map"></div>
</section>

<script src="../../assets/js/script.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBspdfd_lHC1cFQV0gLXX7_GKikELvAgz0&callback=initMap"></script>
-->
