<section class="bgGear">
</section>
<section class="gear py-5">
    <div class="container">
        <div class="row whoGear">
            <div class="col-sm-12">
                <h4>   من نحن</h4> 
                <hr class="mb-4">
            </div>
        </div>

        <div class="row dataGear mb-5">
            <div class="col-sm-10 pt-3">
                <div class="card mb-4">
                    <div class="card-body p-0">
                        <p class="text-right"><a routerLink="" >جير</a> هو أحدث موقع لتجارة قطع غيار واكسسورات و مستلزمات السيارات في مصر
                                ينمو جير بسرعة رهيبة فهو يضم يوميا عدد اكبر من محلات قطلع الغيار و خدمات السيارات
                                جير هو أحدث موقع لتجارة قطع غيار واكسسورات و مستلزمات السيارات في مصر
                                ينمو جير بسرعة رهيبة فهو يضم يوميا عدد اكبر من محلات قطلع الغيار و خدمات السيارات
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 pt-3 ">
                <img src="../../assets/img/logoWbg.jpg" class="mr-3">
            </div>
        </div>
        <div class="row infGear">
            <div class="col-sm-12">
                <h4>    خدمات جير</h4> 
                <hr class="mb-4">
            </div>
        </div>
        <div class="row services">
            <div class="col-sm-6 d-flex align-items-stretch ">
                <div class="row x mx-2">
                    <div class="col-sm-2 d-flex align-items-center">
                        <img src="../../assets/img/aboutUs/A1.png">
                    </div>
                    <div class="col-sm-10">
                        <div class="card-body">
                            <h5 class="card-title">تسويق منتجاتك</h5>
                            <p class="text-right">
                            يوفر لك جير اماكنية لتسويق منتجاتك على الموقع مجانا من خلال انشاء حساب ومن ثم ادخال البيانات الخاصة بالمنتجات و سوف يساعدك جير بالتسويق لها عن طريق عرض منتجاتك في نتائج بحث العملاء
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 d-flex align-items-stretch ">
                <div class="row x mx-2">
                    <div class="col-sm-2 d-flex align-items-center">
                        <img src="../../assets/img/aboutUs/A2.png">
                    </div>
                    <div class="col-sm-10">
                        <div class="card-body">
                            <h5 class="card-title"> شراء منتجات</h5>
                            <p class="text-right">
                                    يساعدك جير في ايجاد ما تحتاج اليه من قطع غيار و اكسسوارات السيارات حيث يعرض لك جميع المحلات التي
                                    تحتوي على المنتج الذي ترغب في شرائه والمعلومات الخاصة بكل محل مثل ارقام هواتف المحل والمكان وايضا خدمة عرض السعر اذا كان يوفرها المحل   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>