<section class="editAccountHeader2">
  </section>
  <section class="editAccount2 py-5">
    <div class="container">
          <div class="row mb-5">
              <div class="col-sm-12 mb-3 text-right">
                  <h3>أعدادات الحساب</h3>
                  <hr>
              </div>
              <div class="col-sm-9">
                    <div class="row  form">
                        <div class="col-sm-12 mb-3">
                            <label for="inputName"> الأسم</label>
                            <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp">
                        </div>
                        <div class="col-sm-12 mb-3">
                            <button type="submit" class="btn  btn-block text-center">تأكيد</button>
                        </div> 
                    </div>
              </div>
              <div class="col-sm-3 text-right headline align-self-start">
                  <a routerLink="/edit-account1"><p>معلومات شخصية</p></a>
                  <a><p> العناوين</p></a>
                  <a routerLink="/edit-account3"><p> أعدادات الحساب</p> </a>               
              </div>
          </div>
      </div>
  </section>