<!-- Registration Form  -->
<body>
    <div class="register p-5 text-white">
        <!-- <div class="logo d-flex justify-content-center align-items-center">
            <a href="" class="text-center w-100"><img src="./assets/img/logo.png" alt="logo"></a>
        </div> -->
            <div class="row pt-3">
                <div class="form-group col-sm-12 pb-2">
                    <label for="exampleInputEmail1" required >البريد الالكتروني</label>
                    <input type="email"
                     class="form-control"
                      id="exampleInputEmail1"
                      name="email"  
                      [(ngModel)]="user.username" 
                      required
                      name="field" 
                       [ngModelOptions]="{ updateOn: 'blur' }" 
                      >
                    <!--  #email="ngModel" ngvemail -->
                    
                    <!--  <p *ngIf="email.errors?.email" class="alert alert-danger mt-2"> ايميل خاطئ</p> -->
                </div>  
                <div class="form-group col-sm-12 pb-2">
                    <label for="exampleInputPassword1">كلمة المرور</label>
                    <input type="password" name="password" 
                     class="form-control" id="exampleInputPassword1" 
                     [(ngModel)]="user.password" required
                     name="password" #password="ngModel" 
                     [rangeLength]="[6, 20]"
                     [ngModelOptions]="{ updateOn: 'blur' }"
                     >
                     <p *ngIf="password.errors?.rangeLength" class="alert alert-danger mt-2">الرقم السري خاطى لابد ان يكن اكثر من 8 حروف وارقام</p>                     
                </div> 
                <div class="form-group col-sm-12 pb-3 d-flex align-items-center">
                    <input class="ml-3" type="checkbox" name="checkbox" id="exampleInputcheck">
                    <label for="exampleInputcheck"> تذكرني </label>
                </div>   
                <div class="buttons w-100">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                    <button  [disabled]="!password.valid" class="btn btn-custom btn-custom-gray btn-block text-center" (click)="login()" >تسجيل</button>
                </div>   
            </div>
            <hr>
            <a routerLink="../register">تسجيل عضو جديد</a>     
    </div>
</body>

