.profileShopHeader{
    background-image:url("/assets/img/underHeader/bgProfile.jpg");
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
//----------------------section data about your profile
.bgprofile{
    background-image: url(../../../assets/img/bgPattern/4.png);
    background-repeat: repeat;
    background-size: cover;
    height: 100%;
    font-family: droid-reg;
    direction: rtl
}
.profileData{
   
    .row{
        div{
            .card{
                border: none;
                border-bottom: 2px solid #50c1e9;
                border-radius: 0px;
                .card-body{
                    .row{
                        div{
                            .card-text{
                                .row{
                                    div{
                                        .iconx{
                                            color: #fbc326;
                                        }
                                    }
                                    div{
                                        .iconz{
                                            margin-right: 10px;
                                            color: #50c1e9;
                                        }
                                    }
                                    div{
                                        .icony{
                                            margin-left: 20px;
                                            color: #50c1e9;

                                        }
                                    }
                                }
                                div{
                                    button{
                                        border-radius: 5px;
                                        border: 1px solid #fbc326;
                                        padding: 7px 15px ;
                                        background-color: #fbc326;
                                        color:white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//----------------------- section table
.editProduct{
    .row{
        div{
            hr{
                width: 80px;
                margin-right: 1px;
                border:1px solid #50c1e9;
            }
        }
        div{
            .buttonAdd{
                background-color: #50c1e9;
                color: white;
                border-radius: 5px;
                border: 1px solid #50c1e9;
                padding: 7px 15px ;
            }
        }
        div{
            .edit{
                border: 1px solid #50c1e9;
                background-color: #50c1e9;
                color: white;
                border-radius: 5px;
                border: 1px solid #50c1e9;
                padding: 7px 15px ;
            }
            .remove{
                color: white;
                border-radius: 5px;
                padding: 7px 15px ;
            }
        }
    }
    .row{
        div{
            table{
                min-width:900px;
                overflow: auto;
                background-color: white;
                thead{ 
                    border: 1px solid lightgray;
                    tr{
                        th{
                            // border: 1px solid #1e88e5;
                            background-color: #fafafa;
                            color: #060606;
                            form{
                                justify-content: center;
                                margin: 0;
                                input{
                                    border:0;
                                    margin: 0;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    border: 1px solid lightgray;
                                    width:10rem;
                                }


                            }
                        }
                    }
                }
                tbody{
                    tr{
                        td{
                            vertical-align: middle;

                        }
                    }
                }
            }
        }
    }
}

.editProduct ul{
    list-style-type: none;
    border: 1px solid lightgray;
    padding: 0;
    background-color: white;
    li {

        padding: 20px;
        //border-bottom: 1px solid lightgray;
        text-align: center
        
    }

    li:hover {
        cursor: pointer;
        background-color: #47b0d6;
        color: white;
    }


    .active {
        background-color: #50c1e9;
        color: white;


    }

}


.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #111111;
    color: white;
    font-family: Montserrat-Medium;
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.modal-header,.modal-body,.modal-footer {
    direction: rtl !important;
    font-family: droid-reg !important;
    text-align: right !important
}