<section class="editAccountHeader1 ">
</section>
<section class="editAccount1 py-5">
  <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 mb-3 text-right">
                <h3>أعدادات الحساب</h3>
                <hr>
            </div>
            <div class="col-sm-9 text-right">
                <div class="row  form">
                    <div class="col-sm-12 mb-3">
                        <label for="inputName"> الأسم</label>
                        <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp">
                    </div>
                    <div class="col-sm-12 mb-3">
                        <label for="exampleInputNumber">التليفون المحمول</label>
                        <input type="text" class="form-control" id="exampleInputNumber" aria-describedby="emailHelp">
                    </div>
                    <div class="col-sm-12 mb-3">
                        <label for="exampleInputNumber">التليفون الأرضى</label>
                        <input type="text" class="form-control" id="exampleInputNumber" aria-describedby="emailHelp">
                    </div>
                    <div class="col-sm-12 mb-3">
                        <label for="exampleInputNumber">المحافظة</label>                            
                        <select class="form-control text-right">
                                <!--<option value="">اختـــر المدينـــة</option>-->
                                <option value="51">اسوان</option>
                                <option value="49">اسيوط</option>
                                <option value="50">الأقصر</option>
                                <option value="47" selected>الإسكندرية</option>
                                <option value="41">الإسماعيلية</option>
                                <option value="38">البحيره</option>
                                <option value="39">الجيزه</option>
                                <option value="510">الحسنيه</option>
                                <option value="588">الخارجة</option>
                                <option value="589">الداخلة</option>
                                <option value="414">الدقهلية</option>
                                <option value="508">الزقازيق</option>
                                <option value="57">السلوم</option>
                                <option value="42">السويس</option>
                                <option value="37">الشرقية</option>
                                <option value="55">الطور</option>
                                <option value="54">العريش</option>
                                <option value="517">الغربية</option>
                                <option value="58">الغردقه</option>
                                <option value="590">الفرافرة</option>
                                <option value="52">الفيوم</option>
                                <option value="36">القاهره</option>
                                <option value="413">القليوبية</option>
                                <option value="467">المحلة الكبرى</option>
                                <option value="45">المنصورة</option>
                                <option value="410">المنوفية</option>
                                <option value="40">المنيا</option>
                                <option value="587">الوادي الجديد</option>
                                <option value="48">بنى سويف</option>
                                <option value="46">بورسعيد</option>
                                <option value="399">حلوان</option>
                                <option value="44">دمياط</option>
                                <option value="469">ديرب نجم</option>
                                <option value="56">رأس البر</option>
                                <option value="412">رفح</option>
                                <option value="402">سوهاج</option>
                                <option value="53">شرم الشيخ</option>
                                <option value="584">صان الحجر</option>
                                <option value="470">صفط زريق</option>
                                <option value="518">طنطا</option>
                                <option value="509">فاقوس</option>
                                <option value="398">قنا</option>
                                <option value="403">كفر الشيخ</option>
                                <option value="592">كفر صقر</option>
                                <option value="507">منيا القمح</option>
                        </select>                        
                    </div>
                    <div class="col-sm-12 mb-4">
                        <label for="descriptionInput"> الوصف</label>
                        <input type="text" class="form-control" id="descriptionInput" aria-describedby="emailHelp">
                    </div>
                    <div class="col-sm-12 mb-3">
                        <button type="submit" class="btn  btn-block text-center">تأكيد</button>
                    </div> 
                </div>
            </div>
            <div class="col-sm-3 text-right headline align-self-start">
                <a><p>معلومات شخصية</p></a>
                <a routerLink="/edit-account2"><p> العناوين</p></a>
                <a routerLink="/edit-account3"><p> أعدادات الحساب</p> </a>               
            </div>
        </div>
    </div>
</section>