<section class="filter">
  <div class="container">
      <div class="row ">
          <div class="col-12 py-3">
              <button class="btn btn-light" (click)="openModal(template)"> اضافة عنوان جديد +</button>
          </div>
      </div>
  </div>
  

</section>
<div class="profileproducts">

<section class="profile container py-5">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col-12 text-right Product p-3">
                        <h3>عبدالله محمد</h3>
                        <h5>شارع الجامعة, طنطا, الغربية, مصر</h5>
                        <h6>+20 0123456789</h6>
                        <h6>(040) 1239546</h6>
                        <div class="text-left">
                            <button type="button" class="btn btn-outline-info"> <i class="fas fa-edit"></i> تعديل</button>
                            <button class="btn btn-primary ml-3">تحديد كعنوان رئيسي</button>
                        </div>
                    </div>

                    <div class="col-12 text-right Product p-3">
                        <h3>عبدالله محمد</h3>
                        <h5>محطة مصر, الاسكندرية, مصر</h5>
                        <h6>+20 0123456789</h6>
                        <h6>(060) 1239546</h6>
                        <div class="text-left">
                            <button type="button" class="btn btn-outline-info"> <i class="fas fa-edit"></i> تعديل</button>
                            <button class="btn btn-secondary ml-3">تحديد كعنوان رئيسي</button>
                        </div>
                    </div>
                </div>
            </div>
      
      
          <div class="col-3 offset-1">
              <div class="row">
                <div class="col-12">
                    <ul>
                        <li class="border-0">المشتريات</li>
                        <li class="active"> عناوين الشحن</li>
                        <li>المفضلة</li>
                        <li>اعدادات الحساب</li>
                      </ul>
      
                </div>
      
              </div>
      
            <div class="row">
                <div class="col-12 mb-2">
                    <img src="https://placehold.it/400x400" class="img-fluid"alt="">
                </div>        
                
                <div class="col-12  mb-2">
                    <img src="https://placehold.it/400x800" class="img-fluid"alt="">
                </div>       
                  
                <div class="col-12 mb-2">
                    <img src="https://placehold.it/400x600" class="img-fluid"alt="">
                </div>                 
            </div>
          </div>
        </div>
      </section>
      
      
      <div class="title text-center">
          <h3 class="d-inline"> شاهدته مؤخرا</h3> 
       </div>
       <section class="productSec py-3">
           <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-2 col-sm-4 col-6 mb-5 d-flex align-items-stretch">
                       <div class="card-group">
                           <div class="card">
                               <img class="card-img-top" src="../../assets/img/part1.jpg" alt="Card image cap">
                               <div class="card-body p-0 pt-3 ">
                                   <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرcol-2 ض ١٢ مللي</h6>
                                   <div class="card-text">
                                       <div class="row text-right">
                                         <div class="col-5"><p>(150)</p></div>
                                         <div class="col-7 text-right">
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                         </div>
                                         
                                         <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                         <div class="col-12"><p>1000 جنيه</p></div>
                                       </div>
                                     </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-2 col-sm-4 col-6  mb-5 d-flex align-items-stretch">
                       <div class="card-group">
                           <div class="card">
                               <img class="card-img-top" src="../../assets/img/part1.jpg" alt="Card image cap">
                               <div class="card-body p-0 pt-3 ">
                                   <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                                   <div class="card-text">
                                       <div class="row text-right">
                                         <div class="col-5"><p>(150)</p></div>
                                         <div class="col-7 text-right">
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                         </div>
                                         
                                         <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                         <div class="col-12"><p>1000 جنيه</p></div>
                                       </div>
                                     </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-2 col-sm-4 mb-5 col-6  d-flex align-items-stretch">
                       <div class="card-group">
                           <div class="card">
                               <img class="card-img-top" src="../../assets/img/part1.jpg" alt="Card image cap">
                               <div class="card-body p-0 pt-3 ">
                                   <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                                   <div class="card-text">
                                       <div class="row text-right">
                                         <div class="col-5"><p>(150)</p></div>
                                         <div class="col-7 text-right">
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                         </div>
                                         
                                         <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                         <div class="col-12"><p>1000 جنيه</p></div>
                                       </div>
                                     </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-2 col-sm-4 col-6  mb-5 d-flex align-items-stretch">
                       <div class="card-group">
                           <div class="card">
                               <img class="card-img-top" src="../../assets/img/part1.jpg" alt="Card image cap">
                               <div class="card-body p-0 pt-3 ">
                                   <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                                   <div class="card-text">
                                       <div class="row text-right">
                                         <div class="col-5"><p>(150)</p></div>
                                         <div class="col-7 text-right">
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                         </div>
                                         
                                         <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                         <div class="col-12"><p>1000 جنيه</p></div>
                                       </div>
                                     </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-2 col-sm-4 col-6 mb-5 d-flex align-items-stretch">
                       <div class="card-group">
                           <div class="card">
                               <img class="card-img-top" src="../../assets/img/part1.jpg" alt="Card image cap">
                               <div class="card-body p-0 pt-3 ">
                                   <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                                   <div class="card-text">
                                       <div class="row text-right">
                                         <div class="col-5"><p>(150)</p></div>
                                         <div class="col-7 text-right">
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                         </div>
                                         
                                         <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                         <div class="col-12"><p>1000 جنيه</p></div>
                                       </div>
                                     </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="col-lg-2 col-sm-4 col-6 mb-5 d-flex align-items-stretch">
                       <div class="card-group">
                           <div class="card">
                               <img class="card-img-top" src="../../assets/img/part1.jpg" alt="Card image cap">
                               <div class="card-body p-0 pt-3 ">
                                   <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                                   <div class="card-text">
                                       <div class="row text-right">
                                         <div class="col-5"><p>(150)</p></div>
                                         <div class="col-7 text-right">
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                             <i class="fas fa-star"></i>
                                         </div>
                                         
                                         <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                         <div class="col-12"><p>1000 جنيه</p></div>
                                       </div>
                                     </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </section>
</div>

<ng-template #template class="temp" >
  <div class="modal-body">
      <div class="row">
            <div class="col-12 ">
                <form class="p-4" >
                    <div class="form-row mb-4">     
                        <div class="form-group col-md-4 text-right">
                            <label for="inputAddress"> المدينة</label>
                            <select id="inputState" class="form-control">
                                    <option selected></option>
                                    <option>...</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4 text-right">
                            <label for="inputPassword4"> المحافظة</label>
                            <select id="inputState" class="form-control">
                                    <option selected></option>
                                    <option>...</option>
                            </select>
                        </div> 
                        
                        <div class="form-group col-md-4 text-right">
                            <label for="inputPassword4">المنطقة</label>
                            <select id="inputState" class="form-control">
                                    <option selected></option>
                                    <option>...</option>
                            </select>
                        </div>
                    </div>
        
                    <div class="form-row mb-4">     
                        <div class="form-group col-md-4 text-right">
                            <label for="inputPassword4"> اسم/رقم الشارع</label>
                            <input type="text" class="form-control text-right">
                        </div>
                        <div class="form-group col-md-4 text-right">
                            <label for="inputAddress">اسم/رقم العمارة</label>
                            <input type="text" class="form-control text-right">
                        </div>

                        <div class="form-group col-md-4 text-right">
                            <label for="inputPassword4"> رقم الطابق</label>
                            <input type="text" class="form-control text-right">
                        </div>
                    </div>
                    <div class="form-row mb-4">     
                            <div class="form-group col-md-4 text-right">
                                <label for="inputPassword4">رقم الشقة  </label>
                                <input type="text" class="form-control text-right">
                            </div>
                            <div class="form-group col-md-4 text-right">
                                <label for="inputAddress">رقم تليفون الشقة </label>
                                <input type="text" class="form-control text-right">
                            </div>
    
                            <div class="form-group col-md-4 text-right">
                                <label for="inputPassword4">اقرب معلم</label>
                                <input type="text" class="form-control text-right">
                            </div>
                        </div>
                </form>
            </div>
      </div>

      <button type="button" class="btn btn-primary" (click)="decline()" >الغاء</button>
      <button type="button" class="btn btn-default mr-3 " (click)="confirm()" >تأكيد</button>
  </div>
</ng-template>