.form{
        box-shadow: 0px 0px 20px 1px lightgrey;
        background-color: rgba($color: #fff, $alpha: .90);
        border-radius: 7px;
}


h2 {
    color:#1E88E5;
}

.editProduct {
    height: 100%;
    background-color: #fbfbfb
}

label{
    color: #343a40;
}

input , textarea , select{
    background-color: #f7f7f7;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btun {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
