<section class="editProduct">
    <section class="container mb-5">
        <div class="row pt-5">
          <div class="col-12 form">
            <div class="row">
            <div class="col-6 p-4">
              <div class="row mb-2">
                <div class="col-12">
                    <img src="/assets/img/file1.jpg" class="img-fluid w-100" alt="">
                    
                </div>
              </div>

              <div class="row">
                  <div class="col-4">
                      <img src="/assets/img/file1.jpg" class="img-fluid" alt="">
                    </div>                
                  
                  
                  <div class="col-4">
                      <img src="/assets/img/file1.jpg" class="img-fluid" alt="">
                    </div>                
                  
                  <div class="col-4">
                    <img src="/assets/img/file1.jpg" class="img-fluid" alt="">
                  </div>
              </div>

              
                <input type="file" name="myfile" (change)="fileUpload($event.target.files)" multiple />
            
            </div>
            <div class="col-6">

                  <div class="form-row mb-4">
                    <div class="form-group col-md-12 text-right">
                      <label for="inputEmail4">اسم القطعة</label>
                      <input type="email" class="form-control text-right" [(ngModel)]="prod.product.ProductName">
                    </div>
                  </div>
      
                  <div class="form-row mb-4">     
                    <div class="form-group col-md-6 text-right">
                      <label for="inputPassword4">رقم الصنف</label>
                      <input type="text" class="form-control text-right" [(ngModel)]="prod.Desc.PartNumber" >
                    </div>
                    <div class="form-group col-md-6 text-right">
                        <label for="inputAddress">التصنيف</label>
                        <select  id="inputState" class="form-control" [(ngModel)]="prod.product.CategoryId">
                          <option *ngFor="let item of cates" value="{{item.CategoriesId}}" >{{item.CategoriesName}}</option>
                        </select>
                      </div>
                    </div>
                    
                    
                    
                    <div class="form-row mb-5">
                      <div class="form-group col-md-6  text-right ">
                        <label for="inputState">الموديل</label>
                        <select id="inputState" class="form-control" [(ngModel)]="prod.product.Modelid">
                            <option selected></option>
                            <option *ngFor="let item of models" value="{{item.ModelId}}">{{item.ModelName}}</option>
                          </select>
                        </div>
                        <div class="form-group col-md-6 text-right">
                          <label for="inputState">الماركة</label>
                          <select id="inputState" class="form-control" [(ngModel)]="prod.product.BrandId">
                            <option selected></option>
                            <option *ngFor="let item of brands" value="{{item.BrandId}}">{{item.BrandName}}</option>
                          </select>
                        </div>
                      </div>



                     

                      
                      <div class="form-row mb-4">     
                         <div class="form-group col-md-6 text-right">
                           <label for="inputPassword4">اسم المصنع </label>
                           <input type="text" class="form-control text-right" [(ngModel)]="prod.product.Manufacturer">
                         </div>
                         <div class="form-group col-md-6 text-right">
                             <label for="inputAddress">حالة المنتج</label>
                             <select id="inputState" class="form-control" [(ngModel)]="prod.product.state">
                                 <option selected ></option>
                                 <option>NEW</option>
                                 <option>USED</option>
                               </select>
                          </div>
                        </div>
    
                        <div class="form-row mb-4">     
                           <div class="form-group col-md-6 text-right">
                             <label for="inputPassword4"> تاريخ التصنيع</label>
                             <input type="date" class="form-control text-right" [(ngModel)]="prod.Desc.YearOfProduct">
                           </div>
                           <div class="form-group col-md-6 text-right">
                               <label for="inputAddress">توافق </label>
                              <input type="text" class="form-control" [(ngModel)]="prod.Desc.ModelFlexibility">
                            </div>
                          </div>
                      <div class="form-row mb-4 text-right">
                    
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress2">عدد القطع</label>
                        <input type="number" class="form-control text-right" [(ngModel)]="prod.product.Quantity">
                      </div>
                      
                
                      
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress">بلد المنشأ</label>
                        <input type="text" class="form-control text-right" [(ngModel)]="prod.product.PlaceOfOrigin">
                      </div> 
                    </div>
      
                    <div class="form-row mb-4 text-right">
          
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress2">الخصم</label>
                        <input type="number" class="form-control text-right" [(ngModel)]="prod.product.Discount">
                      </div>
      
                
      
                      <div class="form-group col-md-6 text-right">
                        <label for="inputAddress">السعر</label>
                        <input type="number" class="form-control text-right" [(ngModel)]="prod.product.Price">
                      </div> 
                  </div>
      
                
      
      
      
                  <div class="form-group">
                      <div class="form-group 0col-md-12 text-right">
                        <label for="exampleFormControlTextarea1" >الوصف</label>
                        <textarea class="form-control" [(ngModel)]="prod.Desc.MoreDetails" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                  </div>
                  
                
      
                  
                  <button  class="btn btn-primary text-center mr-3" (click)="save()">حفظ</button>
              
          </div>
          </div>
        </div>
      </div>
      </section>

</section>

