<!--  Slider Section  -->
<div class="slider pt-3 mb-5">
        <div class="container-fluid">
            <div class="row p-0 align-items-stretch">           
            <div class="col-sm-8 pr-0">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <img [src]="images[0]" class="girl img-responsive w-100" alt="" />
                            </div>
                        </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <img [src]="images[1]" class="girl img-responsive w-100" alt="" />
                            </div>
                           </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <img [src]="images[2]" class="girl img-responsive w-100" alt="" />
                            </div>
                            </div>
                        </div>
                      </div>
                      <div class="carousel-item ">
                        <div class="container">
                          <div class="row">
                            <div class="col-sm-12">
                              <img [src]="images[3]" class="girl img-responsive w-100" alt="" />
                            </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="row d-flex justify-content-center h-100">
                        <div class="col-sm-6 img-box " >
                            <div class="img">
                            </div>
                        </div>
                        <div class="col-sm-6 img-box">
                            <div class="img">

                            </div>
                        </div>
                    
                         <div class="col-sm-6 img-box">
                            <div class="img">
                                
                            </div>
                        </div>

                        <div class="col-sm-6 img-box">
                            <div class="img">
                                
                            </div>
                    </div>
                </div>
            </div>                 
                </div>
             </div>
        </div>  
