<!-- <app-header></app-header> -->
<app-slider></app-slider>

<!-- section slider product -->
<div class="title text-right">
   <h3 class="d-inline"> السلع الاكثر رواجا</h3> 
</div>
<section class="productSec py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/spare/sp7.jpg" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6  routerLink="single" class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>                            <div class="card-text">
                                <div class="row text-right">
                                  <div class="col-5"><p>(150)</p></div>
                                  <div class="col-7 text-right">
                                    <ngb-rating [starTemplate]="t" [rate]="5" max="5" [readonly]="true" ></ngb-rating>                                    
                                  </div>
                                  <div class="col-12 d-flex justify-content-between align-items-center">
                                        <div class="descount">
                                            <span>15%-</span>
                                        </div>
                                        <div>
                                            <p class="m-0 "><bdi>جنية</bdi> 1000 </p>
                                            <span class="text-muted old-price"><bdi>جنية</bdi>1500</span> 
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/spare/sp8.jpg" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                            <div class="card-text">
                                <div class="row text-right">
                                  <div class="col-5"><p><i class="fa fa-eye text-black"></i> (150)</p></div>
                                  <div class="col-7 text-right">
                                    <ngb-rating [starTemplate]="t" [rate]="5" max="5" [readonly]="true" ></ngb-rating>                                    
                                  </div>
                                     <div class="col-12 d-flex justify-content-between align-items-center">
                                        <div class="descount">
                                            <span>15%-</span>
                                        </div>
                                        <div>
                                            <p class="m-0 "><bdi>جنية</bdi> 1000 </p>
                                            <span class="text-muted old-price"><bdi>جنية</bdi>1500</span> 
                                        </div>
                                    </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/spare/sp9.jpg" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                            <div class="card-text">
                                <div class="row text-right">
                                  <div class="col-5"><p>(150)</p></div>
                                  <div class="col-7 text-right">
                                    <ngb-rating [starTemplate]="t" [rate]="5" max="5" [readonly]="true" ></ngb-rating>                                    
                                  </div>
                                  <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                  <div class="col-12"><p>1000 جنيه</p></div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/spare/sp10.jpg" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                            <div class="card-text">
                                <div class="row text-right">
                                  <div class="col-5"><p>(150)</p></div>
                                  <div class="col-7 text-right">
                                    <ngb-rating [starTemplate]="t" [rate]="5" max="5" [readonly]="true" ></ngb-rating>                                    
                                  </div>
                                  
                                  <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                  <div class="col-12"><p>1000 جنيه</p></div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/spare/sp11.jpg" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                            <div class="card-text">
                                <div class="row text-right">
                                  <div class="col-5"><p>(150)</p></div>
                                  <div class="col-7 text-right">
                                    <ngb-rating [starTemplate]="t" [rate]="5" max="5" [readonly]="true" ></ngb-rating>                                    
                                  </div>
                                  
                                  <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                  <div class="col-12"><p>1000 جنيه</p></div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch">
                <div class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/img/spare/sp12.jpg" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6 class="card-title text-right">سير قطع غيار لسكوتر كهربائي بعرض ١٢ مللي</h6>
                            <div class="card-text">
                                <div class="row text-right">
                                  <div class="col-5"><p>(150)</p></div>
                                  <div class="col-7 text-right">
                                    <ngb-rating [starTemplate]="t" [rate]="5" max="5" [readonly]="true" ></ngb-rating>                                    
                                  </div>
                                  
                                  <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                  <div class="col-12"><p>1000 جنيه</p></div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Our Client -->
<!-- <div class="title text-center pt-5">
    <h3 class=""> الماركات المفضلة </h3> 
 </div> -->
<section class="client py-5 mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 col-6 pb-3 text-center gray">
                <img src="../../assets/img/brand/BMW.png" alt="">
            </div>
            <div class="col-sm-2 col-6 pb-3 text-center gray">
                <img src="../../assets/img/brand/honda.png" alt="">
            </div>
            <div class="col-sm-2 col-6 pb-3 text-center gray">
                <img src="../../assets/img/brand/mitsubishi.png" alt="">
            </div>
            <div class="col-sm-2 col-6 pb-3 text-center gray">
                <img src="../../assets/img/brand/fiat.png" alt="">
            </div>
            <div class="col-sm-2 col-6 pb-3 text-center gray">
                <img src="../../assets/img/brand/chevrolet.png" alt="">
            </div>
            <div class="col-sm-2 col-6 pb-3 text-center gray">
                <img src="../../assets/img/brand/ford.png" alt="">
            </div>
        </div>
    </div>
</section>

<!--  Week offers -->
<div class="text-right title pt-5">
    <h3 class="d-inline"> أفضل العروض</h3> 
</div>
<section class="week-offer container-fluid py-5">
    <div class="row align-items-stretch">
        <!--  Sub offer  -->
        <div class="col-md-6 col-12">
            <div class="row">
                <div class="col-6 mb-3 overlay-parent pr-0">    
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <button class="btn btn-info">اشتري الان</button>
                    </div>                    
                    <img src="../../assets/img/Adv/6.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-6 mb-3 pl-3  overlay-parent ">
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <button class="btn btn-info">اشتري الان</button>
                    </div>                   
                    <img src="../../assets/img/Adv/7.jpg" alt="" class="img-fluid w-100 h-100">
                </div>

                <div class="col-6 pr-0 overlay-parent">
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <button class="btn btn-info">اشتري الان</button>
                    </div>                                             
                    <img src="../../assets/img/Adv/8.jpg" alt="" class="img-fluid w-100 h-100">
                </div>

                <div class="col-6 pl-3 overlay-parent">
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <button class="btn btn-info">اشتري الان</button>
                    </div>                                                                         
                    <img src="../../assets/img/Adv/9.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
            </div>
        </div>
        <!-- Main Offer ========== Big image  -->
        <div class="col-12 col-md-6">
            <img src="../../assets/img/Adv/5.jpg" alt="" class="img-fluid spcial h-100">
        </div>
    </div>
</section>



<!--  Adds -->
<section class="adv py-5">
    <img src="../../assets/img/header-02.jpg" alt="">
</section>

<!--  Recent Product -->
<div class="title text-right pt-5">
    <h3 class="d-inline"> وصل مؤخرا</h3> 
</div>
<section class="productSec py-5">
    <div class="container-fluid">
        <div class="row">
            <div routerLink="../single/{{item.productId}}" class="col-lg-2 col-sm-4 col-12 mb-5 d-flex align-items-stretch" *ngFor="let item of recentProducts; let i = index">
                <div class="card-group">
                    <div class="card position-relative">
                        <img class="card-img-top" src="http://gearapi.azurewebsites.net/Content/ProdImages/{{item?.Imgs[0]?.ImgUrl}}" alt="Card image cap">
                        <div class="card-body p-0 pt-3 ">
                            <h6 class="card-title text-right">{{item?.ProductName}}</h6>
                            <div class="card-text">
                                <div class="row text-right">
                                    <div class="col-7 text-right">
                                        <ngb-rating [starTemplate]="t" [rate]="item.Rate" max="5" [readonly]="true" ></ngb-rating>                                    
                                    </div>
                                    <div class="col-5"><p>({{item?.Rate}})</p></div>
                                <!-- <div class="col-12"><p class="text-right">سعيد نصار</p></div> -->
                                <div class="col-12 d-flex justify-content-between">
                                    <div>
                                        <p class="m-0 "><bdi>جنية</bdi> {{item?.Price - item?.Discount * item?.Price}} </p>
                                        <span class="text-muted old-price"><bdi>جنية</bdi>{{item?.Price}}</span> 
                                    </div>
                                    <div class="status">
                                        <span>{{item.state}}</span>
                                    </div>
                                </div>
                                <div class="descount position-absolute"  *ngIf="item.Discount > 0">
                                        <span> <bdi>خصم </bdi>{{item?.Discount }} %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

         
    <!--  This is virtual sectio For Rating Stars -->
    <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill"><i class="fa fa-star"></i></span><i class="fa fa-star"></i>
        </span>
    </ng-template>
      