<section class="bgWrong">
</section>
  <section class="wrong py-5">
    <div class="container">
        <div class="row bg pt-4 mb-3">
            <div class="col-sm-4">
                <h4>أماكن كشف الأعطال</h4>  
                <hr class="mb-5">
                <div class="row">
                    <div class="col-6"><h5>أختر المحافظة</h5></div>
                    <div class="col-6">
                        <select>
                            <option>المحافظة</option>
                            <option>الأسكندرية</option>
                            <option>القاهرة</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 my-5">
                <img src="../../assets/img/map.jpg">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>  العناوين</h4>  
                <hr class="mb-5 widthHr">
            </div>
            <div class="col-sm-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="card-text"><span class="ml-3">١)</span> محل مسمار </p>
                            </div>
                            <div class="col-sm-5">
                                <p class="card-text"> <i class="fas fa-map-marker ml-3"></i> ١٢١ شارع جلال الدسوقى ,وابور الماية الاأسكندرية</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="card-text"><i class="fas fa-phone ml-3 "></i> ٤٢٠٠٦٥٠ ٢٠٣+</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <p class="card-text"><span class="ml-3">٢)</span> محل مفك </p>
                            </div>
                            <div class="col-sm-5">
                                <p class="card-text"> <i class="fas fa-map-marker ml-3"></i> ١٢١ شارع جلال الدسوقى ,وابور الماية الاأسكندرية</p>
                            </div>
                            <div class="col-sm-5">
                                <p class="card-text"><i class="fas fa-phone ml-3 "></i> ٤٢٠٠٦٥٠ ٢٠٣+</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>